@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background-color: pink;
}
p {
  font-family: "Dancing Script", cursive;
  font-size: 1.4em;
}
.container {
  position: relative;
  width: 80%;
  height: 100vh;
  top: 30em;
  left: 10em;
}
.envlope {
  position: absolute;
  width: 100%;
}
.envlope-img {
  width: 100%;
  height: auto;
}
.sender {
  position: absolute;
  top: 12%;
  left: 8%;
}
.img-waves {
  position: absolute;
  top: 8rem;
  right: 9em;

  width: 5em;
}
.img-stamp {
  position: absolute;
  width: 12%;
  top: 12%;
  right: 8%;
  width: 10%;
  height: auto;
}
.recipient {
  position: absolute;
  bottom: 12%;
  right: 12%;
}
.img-waves {
  position: absolute;
  top: 19%;
  right: 14%;
  width: 10%;
}
.coution-middle {
  position: absolute;
  width: 20%;
  top: 60%;
  right: 50%;
}
/* main {
  background-color: pink;
  width: 100%;
  height: 1000vh;
  margin: 50px;
} */
